
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
@keyframes shine {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

  .animate-silver-sweep {
    animation: shine 1s ease-out forwards;
  }
}
